<div class="row">
  <div class="container">
    <div class="col-sm-8">
      <h4>Tech We Like</h4>
      <div class="fa-2x">
        <i class="fab fa-linode"></i>
        <i class="fab fa-digital-ocean"></i>
        <i class="fab fa-aws"></i>
        <i class="fab fa-docker"></i>
        <i class="far fa-train"></i>
        <i class="fab fa-phoenix-framework"></i>
        <i class="far fa-gem"></i>
        <i class="fab fa-sass"></i>
        <i class="fab fa-erlang"></i>
        <i class="fab fa-js"></i>
        <i class="fab fa-font-awesome"></i>
        <i class="fab fa-gitlab"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-firefox"></i>
        <i class="fab fa-linux"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-stripe"></i>
        <i class="fab fa-apple"></i>
        <i class="fab fa-android"></i>


      </div>

    </div>
    <div class="col-sm-4 text-center">
      Summit 360 Ltd., registered in England and Wales. Company Reg: 05710517
    </div>

  </div>
</div>
